.search-results-container {
    max-width: 1200px; /* 최대 너비를 1200px로 설정하여 더 넓게 보이게 함 */
    margin: 50px auto; /* 위아래 여백을 50px로 설정 */
    padding: 40px; /* 내부 패딩을 40px로 조정하여 넓게 보이게 함 */
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "EF_Diary", Arial, sans-serif;

}

.results-list {
    list-style-type: none;
    padding: 0;
    max-height: 500px; /* 최대 높이를 600px로 설정하여 스크롤 가능하게 함 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
}

.results-list li {
    display: flex;
    align-items: center;
    padding: 20px; /* 패딩을 20px로 늘려서 넓게 보이게 함 */
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.results-list li:hover {
    background-color: #f5f5f5;
}

.diary-image {
    width: 150px; /* 이미지 크기를 150px로 설정하여 더 크게 보이게 함 */
    height: 150px; /* 높이를 150px로 설정하여 균형을 맞춤 */
    margin-right: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.diary-details {
    flex: 1;
}

.diary-title {
    font-size: 1.5em; /* 제목 크기를 1.5em로 설정하여 더 크게 보이게 함 */
    margin: 0 0 10px 0;
}

.diary-content {
    margin: 0;
    color: #555;
    width:300px;
    
}

.diary-date {
    font-size: 0.9em;
    color: #888;
}

/* 팝업 스타일 */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 40px; /* 패딩을 늘려서 더 크게 보이게 함 */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 500px; /* 최대 너비를 설정하여 팝업 크기를 크게 함 */
    width: 90%; /* 너비를 90%로 설정하여 더 넓게 보이게 함 */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em; /* 글꼴 크기를 늘려서 X 버튼을 크게 보이게 함 */
    cursor: pointer;
}
